<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BookSync.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <BookSync.Properties.Settings>
            <setting name="PlacesFile" serializeAs="String">
                <value />
            </setting>
            <setting name="FTPServer" serializeAs="String">
                <value>ftp.places.janse.eu</value>
            </setting>
            <setting name="FTPUser" serializeAs="String">
                <value>booksync</value>
            </setting>
            <setting name="FTPPass" serializeAs="String">
                <value>ZitsSync25</value>
            </setting>
            <setting name="FTPPort" serializeAs="String">
                <value>21</value>
            </setting>
        </BookSync.Properties.Settings>
    </userSettings>
</configuration>